

.landingDiv {
  box-sizing: border-box;
}

.bghold {
  height: 600px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: url('../assets/neighborpic2.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.topofBG {
  height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  justify-content: stretch;
}

.landingHeaderText {
  font-family: "Merriweather", serif;
  color: rgba(250, 250, 250, 0.95);
  text-align: center;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,0,0,0.6);
}

.landingHeaderText h1 {
  font-size: 4em;
}

.landingHeaderText h2 {
  font-size: 1.75em;
}


.Signin-Btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.halfBackground {
  background: white;
  height: 800px;
  box-sizing: border-box;
}

.arrowSection {
  height: 100px;
}

.arrow {
  border: solid  rgba(250, 250, 250, 0.9);
  border-width: thick;
  border-width: 0 2px 2px 0;
  display: flex;
  padding: 20px;
  height: 50px;
 }

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.halfblurb {
  color:black;
  font-size: 20px;
  text-align: center;
  font-family: "Merriweather", serif;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: -25px;
  box-sizing: border-box;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: "Merriweather", serif;
  margin-bottom: 50px;
  text-align: left;
}

.serviceOne {
  display: flex;
  justify-content: left;
  color: black;
  margin-top: 35px;
  padding: 0 30px;
}

.serviceOneImg {
  width: 200px;
  height: 140px;
  margin-top: -20px;
}

/* .secondHalf {
  background: white;
  height: 800px;
}

.secondHalfBlurb {
  color:black;
  font-size: 20px;
  text-align: center;
  font-family: "Merriweather", serif;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: -25px;

} */


@media (max-width: 800px) {
  .landingHeaderText h1 {
    font-size: 3em;
  }

  .landingHeaderText h2 {
    color: white;
    font-size: 1.25em;
  }
}

@media (max-width: 500px) {
  .landingHeaderText h1 {
    font-size: 2.5em;
  }

  .landingHeaderText h2 {
    color: white;
    font-size: 1em;
  }
}
